@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
</div>

<div class="row m-3 border shadow rounded d-flex justify-content-center align-items-center">
    <div class="col text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kewaGyT_Clw?start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>